<button type="button" data-dropdown-toggle="dropdown" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
  Select Project
</button>
<!-- Dropdown -->
<div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="dropdown">
  <ul class="py-2 font-medium" role="none">
    {% for project in user_projects %}
      {% if project != request.project %}
      <li>
        <a href="{{ project.get_activate_url }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
          <div class="inline-flex items-center">
            {{ project.title }}
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    <li>
      <a href="{% url 'projects:create' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 p-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" role="menuitem">
        <div class="inline-flex items-center">
          Create Project
        </div>
      </a>
    </li>
  </ul>
</div>
